<br>
    <span style="position:absolute; color:black; font-weight: bold; min-width:100px;">
      <span id="myValue"></span>
    </span>
    <br>
    <input type="range" id="myRange" min="0" max="10" style="width:80%">