<div class="pizzaDog" id="bG1"></div>
<div class="spinPizza" id="bG2"></div>
<div class="pizzaDog" id="bG3"></div>
<div class="spinPizza" id="bG4"></div>
<div class="pizzaDog" id="bG5"></div>


<div id="frontPageBox">
    <h1 class="welcome" id="bigtext">You Had Me At Pizza</h1>
    {{!-- <h2 class="welcome" id="subtext1">WHERE PIZZA ISN'T JUDGED BY A JURY OF IT'S PEERS</h2>
    <h2 class="welcome" id="subtext2">IT'S JUDGED BY YOU</h2>
    <h2 class="welcome" id="subtext3">BECAUSE YOU'RE EATING IT</h2> --}}
    <button class="frontBtns" id="signUpBtn">Sign Up</button>
    {{!-- <form class="signUpForm">
        <label>Sign Up:</label>
        <br>
        <label for="username">Username</label>
        <input id="newUser" type="text" class="validate">
        <label for="password">Password</label>
        <input id="newUserPW" type="password" class="validate">
        <button id="newSubBtn">Sign up</button>
    </form> --}}
    <button class="frontBtns" id="signInBtn">Sign In</button>

    {{!-- <br> --}}
    {{!-- <form class="signInForm">
        <label>Sign in:</label>
        <br>
        <label for="username">Username</label>
        <input id="userName" type="text" class="validate">
        <label for="password">Password</label>
        <input id="userPW" type="password" class="validate">
        <button id="subBtn">Sign in</button>
    </form> --}}
    {{!-- <br> --}}
    <button class="frontBtns" id="resultsBtn">
        <a href="/results">THE BEST PIZZA</a>
    </button>
</div>
<script>
    $("#newSubBtn").on("click", function (event) {
        event.preventDefault();
        const user = $("#newUser").val().trim();
        const password = $("#newUserPW").val().trim();
        const newUser = {
            username: user,
            password: password
        }
        if (!newUser.username || !newUser.password) {
            return;
        };

        signUpUser(newUser.username, newUser.password);
        //   newName.val("");
        //   newPW.val("");

        function signUpUser(username, password) {
            $.post("/api/signup", {
                username: username,
                password: password
            }).then(function (data) {
                window.location.replace(data);
                // If there's an error, handle it by throwing up a boostrap alert
            }).catch(handleLoginErr);
        }

        function handleLoginErr(err) {
            $("#alert .msg").text(err.responseJSON);
            $("#alert").fadeIn(500);
        }
    });



    $("#subBtn").on("click", function (events) {

        event.preventDefault();
        const user = $("#userName").val().trim();
        const password = $("#userPW").val().trim();
        const oldUser = {
            username: user,
            password: password
        }
        if (!oldUser.username || !oldUser.password) {
            return;
        };

        logInUser(oldUser.username, oldUser.password);

        function logInUser(username, password) {
            $.post("/api/login", {
                username: username,
                password: password
            }).then(function (data) {
                window.location.replace(data);
                // If there's an error, log the error
            }).catch(function (err) {
                console.log(err);
            });
        }
    })


</script>