<div class="container" id="homePageBox">

    <h1 class="welcome" id="bigtext">You Had Me At Pizza</h1>
    <div class="row" id="homePageTopRow">
        <div class="homePageSquares" id="signUp">
            <p>
                Sign Up
            </p>
        </div>
        <div class="homePageSquares" id="signIn">
            <p>Sign In</p>
        </div>
    </div>

    <div id="glowingDog"></div>
    <div id="glowingPizza"></div>



    {{!-- <div class="row" id="homePageBoxes"> --}}
    {{!-- sign up box/form --}}
    {{!-- <div class="col-sm">
            <div class="signUp" id="box1A">
                <h1>Sign Up</h1>
            </div>
            <div class="signUpBox" id="box1B">
                <form class="signUpForm">
                    <label for="username">Username</label>
                    <input id="newUser" type="text" class="validate">
                    <label for="password">Password</label>
                    <input id="newUserPW" type="password" class="validate">
                    <button id="newUserBtn">Submit</button>
                </form>
                <div class="alert alert-warning" id="signUpAlert" role="alert"></div>
            </div>
        </div> --}}
    {{!-- sign in box/form --}}
    {{!-- <div class="col-sm">
            <div class="signIn" id="box2A">Sign In</div>
            <div class="signInBox" id="box2B">
                <form class="signInForm">
                    <label for="username">Username</label>
                    <input id="oldUser" type="text" class="validate">
                    <label for="password">Password</label>
                    <input id="oldUserPW" type="password" class="validate">
                    <button id="oldUserBtn">Submit</button>
                </form>
                <div class="alert alert-warning" id="signInAlert" role="alert"></div>
            </div>
        </div> --}}
    {{!-- results box (to go straight to results page - open to public) --}}
    {{!-- <div class="col-sm">
            <div class="results" id="box3A">Results</div>
            <div class="resultsBox" id="box3B">
                <h2>Just take me to the best pizza</h2>
                <button id="resultsBtn"><a href="/results">P-I-Z-Z-A</a></button>
            </div>
        </div>

    </div> --}}
</div>


















<script>

    //open and close the sign up form on click
    $(".signUp").on("click", function () {
        const signUp = $(".signUp");
        const signUpBox = $(".signUpBox");
        const signUpBoxDisplay = signUpBox.css("display")
        signUpBox.toggle();
        if (signUpBoxDisplay === "block") {
            signUp.css("height", "35vh");
        } else if (signUpBoxDisplay === "none") {
            signUp.css("height", "15vh");
        }

    })

    //open and close the sign in form on click
    $(".signIn").on("click", function () {
        const signInBox = $(".signInBox");
        signInBox.toggle();

    })

    //open and close the results box on click
    $(".results").on("click", function () {
        const resultsBox = $(".resultsBox");
        resultsBox.toggle();

    })

    //remove any alerts when the user clicks the input box to start typing again
    $("input").on("click", function () {
        console.log("hey");
        $(".alert").css("display", "none");
    })

    //create a new user when click the submit button
    $("#newUserBtn").on("click", function (event) {
        event.preventDefault();
        //get user info
        const user = $("#newUser").val().trim();
        const password = $("#newUserPW").val().trim();
        //if a parameter left blank, instruct user to enter both fields
        if (!user || !password) {
            $(".alert").text("Enter username and password");
            $(".alert").css("display", "block");
            return;
        } else {
            //otherwise run the signUpUser function
            signUpUser(user, password);
        }
    });


    //sign in a user after clicking submit on log in
    $("#oldUserBtn").on("click", function (events) {

        event.preventDefault();
        //grab user's info
        const user = $("#oldUser").val().trim();
        const password = $("#oldUserPW").val().trim();
        //if a field left blank, instruct user to fill it out
        if (!user || !password) {
            $(".alert").text("Enter username and password");
            $(".alert").css("display", "block");
            return;
        } else {
            //if the form is filled out properly, run the log in function
            logInUser(user, password);
        }

    })


    //function to sign up a new user
    function signUpUser(username, password) {
        //send the username and password to the database throught the api sign up route
        $.post("/api/signup", {
            username: username,
            password: password
        }).then(function (data) {
            console.log(data);
            //if no error, send to survey
            if (data === "/survey") {
                window.location.replace(data);
                //if error, throw error message
            } else {
                throw (data.errors[0].message);
            }
            //catch the error and run the error code
        }).catch(newUserErr);
    }


    //function to sign in old user
    function logInUser(username, password) {
        //send the user info 
        $.post("/api/login", {
            username: username,
            password: password
        }).then(function (data) {
            //if no error, send to survey
            if (data === "/survey") {
                window.location.replace(data);
                //if error, throw error message
            } else {
                console.log(data.errors[0].message);
            }
            //catch the error and run the error code
        }).catch(logInErr);
    }


    function newUserErr(err) {
        if (err === "username must be unique") {
            $("#signUpAlert").text("That username has already been chosen. Please pick a different one.");
        } else {
            $("#signUpAlert").text(err);
        }
        $("#signUpAlert").css("display", "block");
    }

    function logInErr(err) {
        $("#signInAlert").text("Incorrect username or password");
        $("#signInAlert").css("display", "block");

    }

</script>