<div class="container" id="homePageBox">

    <h1 class="welcome" id="bigtext">You Had Me At Pizza</h1>
    <div class="row" id="homePageTopRow">
        <a href="#signUpModal" data-toggle="modal" data-target="#signUpModal">
            <div class="homePageSquares" id="signUp">
                <p>Sign Up</p>
            </div>
        </a>
        <a href="signInModal" data-toggle="modal" data-target="#signInModal">
        <div class="homePageSquares" id="signIn">
            <p>Sign In</p>
        </div>
        </a>
    </div>

    {{!-- bouncing background images --}}
    <div id="glowingDog"></div>
    <div id="glowingPizza"></div>


    <footer id="homeFooter">
        <p><a href="/results">Take me to your best pizza</a></p>
    </footer>


    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="signUpModalForm">Sign Up</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="signUpForm">
                        <label for="username">Username</label>
                        <input id="newUser" type="text" class="validate">
                        <br>
                        <label for="password">Password</label>
                        <input id="newUserPW" type="password" class="validate">
                    </form>
                    <div class="alert alert-warning" id="signUpAlert" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="newUserBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="signInModalForm">Sign In</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="signInForm">
                        <label for="username">Username</label>
                        <input id="oldUser" type="text" class="validate">
                        <br>
                        <label for="password">Password</label>
                        <input id="oldUserPW" type="password" class="validate">
                    </form>
                    <div class="alert alert-warning" id="signInAlert" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" id="oldUserBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>



</div>


















<script>

    //remove any alerts when the user clicks the input box to start typing again
    $("input").on("click", function (event) {
        console.log("hey");
        $(".alert").css("display", "none");
    })

    //create a new user when click the submit button
    $("#newUserBtn").on("click", function (event) {
        event.preventDefault();
        //get user info
        const user = $("#newUser").val().trim();
        const password = $("#newUserPW").val().trim();
        //if a parameter left blank, instruct user to enter both fields
        if (!user || !password) {
            $(".alert").text("Enter username and password");
            $(".alert").css("display", "block");
            return;
        } else {
            //otherwise run the signUpUser function
            signUpUser(user, password);
        }
    });


    //sign in a user after clicking submit on log in
    $("#oldUserBtn").on("click", function (events) {

        event.preventDefault();
        //grab user's info
        const user = $("#oldUser").val().trim();
        const password = $("#oldUserPW").val().trim();
        //if a field left blank, instruct user to fill it out
        if (!user || !password) {
            $(".alert").text("Enter username and password");
            $(".alert").css("display", "block");
            return;
        } else {
            //if the form is filled out properly, run the log in function
            logInUser(user, password);
        }

    })


    //function to sign up a new user
    function signUpUser(username, password) {
        //send the username and password to the database throught the api sign up route
        $.post("/api/signup", {
            username: username,
            password: password
        }).then(function (data) {
            console.log(data);
            //if no error, send to survey
            if (data === "/survey") {
                window.location.replace(data);
                //if error, throw error message
            } else {
                throw (data.errors[0].message);
            }
            //catch the error and run the error code
        }).catch(newUserErr);
    }


    //function to sign in old user
    function logInUser(username, password) {
        //send the user info 
        $.post("/api/login", {
            username: username,
            password: password
        }).then(function (data) {
            //if no error, send to survey
            if (data === "/survey") {
                window.location.replace(data);
                //if error, throw error message
            } else {
                console.log(data.errors[0].message);
            }
            //catch the error and run the error code
        }).catch(logInErr);
    }


    function newUserErr(err) {
        if (err === "username must be unique") {
            $("#signUpAlert").text("That username has already been chosen. Please pick a different one.");
        } else {
            $("#signUpAlert").text(err);
        }
        $("#signUpAlert").css("display", "block");
    }

    function logInErr(err) {
        $("#signInAlert").text("Incorrect username or password");
        $("#signInAlert").css("display", "block");

    }

</script>