<div class="container" id="surveyBox">
  <h1 id="surveyHeader">The Best Pizza Is Out There</h1>
  <form class="survey">
    <div class="row surveyTextGroup">
      <div class="form-group" id="cityText">
        <label for="surveyText">City:</label>
        <input type="text" class="surveyTextInput" id="city">
      </div>

      <div class="form-group" id="pizzaPlaceText">
        <label for="surveyText">Pizza Place:</label>
        <input type="text" class="surveyTextInput" id="place">
      </div>
    </div>

    <div class="form-group question" style="position:relative; margin:auto; width:90%">
      <label for="formControlRange">The Pizza Looks: </label>
      <br>
      <div style="width:80%">
        <p style="display: inline-block; float: left">TERRIBLE</p>
        <p style="display: inline-block; float: right">AMAZING</p>
      </div>
      <input type="range" id="appearance" min="-5" max="5" style="width:80%">
    </div>

    <div class="form-group question" style="position:relative; margin:auto; width:90%">
      <label for="formControlRange">Greasy:</label>
      <br>
      <div style="width:80%">
        <p style="display: inline-block; float: left">YES</p>
        <p style="display: inline-block; float: right">NO</p>
      </div>
      <input type="range" id="grease" min="-5" max="5" style="width:80%">
    </div>

    <div class="form-group question" style="position:relative; margin:auto; width:90%">
      <label for="formControlRange">The Sauce Tastes:</label>
      <br>
      <div style="width:80%">
        <p style="display: inline-block; float: left">TERRIBLE</p>
        <p style="display: inline-block; float: right">AMAZING</p>
      </div>
      <input type="range" id="sauce" min="-5" max="5" style="width:80%">
    </div>

    <div class="form-group question" style="position:relative; margin:auto; width:90%">
      <label for="formControlRange">The Cheese Tastes: </label>
      <br>
      <div style="width:80%">
        <p style="display: inline-block; float: left">TERRIBLE</p>
        <p style="display: inline-block; float: right">AMAZING</p>
      </div>
      <input type="range" id="cheese" min="-5" max="5" style="width:80%">
    </div>

    <div class="form-group question" style="position:relative; margin:auto; width:90%">
      <label for="formControlRange">The Toppings Are: </label>
      <br>
      <div style="width:80%">
        <p style="display: inline-block; float: left">TERRIBLE</p>
        <p style="display: inline-block; float: right">AMAZING</p>
      </div>
      <input type="range" id="toppings" min="-5" max="5" style="width:80%">
    </div>

    <div class="form-group question" style="position:relative; margin:auto; width:90%">
      <label for="formControlRange">The Crust Is: </label>
      <br>
      <div style="width:80%">
        <p style="display: inline-block; float: left">TERRIBLE</p>
        <p style="display: inline-block; float: right">AMAZING</p>
      </div>
      <input type="range" id="crust" min="-5" max="5" style="width:80%">
    </div>

    <div class="form-group question" style="position:relative; margin:auto; width:90%">
      <label for="formControlRange">The Mouth Feel Is: </label>
      <br>
      <div style="width:80%">
        <p style="display: inline-block; float: left">TERRIBLE</p>
        <p style="display: inline-block; float: right">AMAZING</p>
      </div>
      <input type="range" id="mouthfeel" min="-5" max="5" style="width:80%">
    </div>

    <div class="form-group question" style="position:relative; margin:auto; width:90%">
      <label for="formControlRange">The Overall Experience is: </label>
      <br>
      <div style="width:80%">
        <p style="display: inline-block; float: left">TERRIBLE</p>
        <p style="display: inline-block; float: right">AMAZING</p>
      </div>
      <input type="range" id="taste" min="-5" max="5" style="width:80%">
    </div>

    <div class="alert alert-warning" role="alert" id="surveyAlert"></div>
    <button type="submit" class="btn btn-primary" id="surveySubBtn">SUBMIT</button>

  </form>
</div>

{{!-- <footer id="homeFooter">
        <p><a href="/results">Take me to your best pizza</a></p>
    </footer> --}}

<div id="glowingDogSm"></div>
<div id="glowingPizzaSm"></div>
