<h1>I'M A SURVEY</h1>

<form>
  <div class="form-group">
    <label for="surveyText">City That You're Eating Pizza In:</label>
    <input type="text" class="surveyText" id="cityQuestion">
  </div>
  <div class="form-group">
    <label for="surveyText">The Place You Got This Pizza From:</label>
    <input type="text" class="surveyText" id="placeQuestion">
  </div>
  <div class="form-group">
    <label for="formControlRange">Rate The Appearance Of The Pizza You're Eating:</label>
    <input type="range" class="form-control-range" id="appearanceQuestion">
  </div>
   <div class="form-group">
    <label for="formControlRange">Rate How Greasy The Pizza You're Eating Is (This Number Will Be Subtracted From The Total Score So If That's A Super Greasy Slice, Give That Sucker A 10):</label>
    <input type="range" class="form-control-range" id="greaseQuestion">
  </div>
  <div class="form-group">
    <label for="formControlRange">Rate The Quality Of The Sauce Of The Pizza You're Eating:</label>
    <input type="range" class="form-control-range" id="sauceQuestion">
  </div>
  <div class="form-group">
    <label for="formControlRange">Rate The Quality Of The Cheese On The Pizza You're Eating:</label>
    <input type="range" class="form-control-range" id="cheeseQuestion">
  </div>
  <div class="form-group">
    <label for="formControlRange">Rate The Quality Of The Toppings On The Pizza You're Eating (If You're Eating A Classic Cheese Pizza Than Ignore This Question And Keep Doing You):</label>
    <input type="range" class="form-control-range" id="toppingsQuestion">
  </div>
  <div class="form-group">
    <label for="formControlRange">Rate The Quality Of The Crust For The Pizza You're Eating:</label>
    <input type="range" class="form-control-range" id="crustQuestion">
  </div>
  <div class="form-group">
    <label for="formControlRange">Rate How This Pizza You're Eating Feels In Your Mouth:</label>
    <input type="range" class="form-control-range" id="mouthQuestion">
  </div>
  <div class="form-group">
    <label for="formControlRange">Rate The Overall Taste Of The Pizza You're Eating:</label>
    <input type="range" class="form-control-range" id="formControlRange">
  </div>
</form>