@keyframes floatingDog {
    0%   { left:-20%; top:-10%; transform: rotate(-6deg);}
    15%  { left: 15%; top: 25%; transform: rotate(22deg);}
    30%  { left: 0%; top: -25%;transform: rotate(7deg);}
    45%  { left: -5%; top: 35%; transform: rotate(-11deg);}
    60%  { left: -15%; top: -8%; transform: rotate(-18.5deg);}
    75%  { left: 19%; top: 4%; transform: rotate(-48deg);}
    90%  { left: -8%; top: 20%; transform: rotate(-70deg);}
    100% { left: -20%; top: -10%; transform: rotate(-5deg);}
}

@keyframes floatingPizza {
    0%   { right:-80%; bottom:80%; transform: rotate(-6deg);}
    15%  { right: -45%; bottom: 115%; transform: rotate(-62deg);}
    30%  { right: -60%; bottom: 65%;transform: rotate(-120deg);}
    45%  { right: -65%; bottom: 125%; transform: rotate(-181deg);}
    60%  { right: -75%; bottom: 82%; transform: rotate(-247.5deg);}
    75%  { right: -41%; bottom: 94%; transform: rotate(-173deg);}
    90%  { right: -68%; bottom: 110%; transform: rotate(-100deg);}
    100% { right: -80%; bottom: 80%; transform: rotate(-6deg);}
}
 

#homePageBox{
    position: absolute;
    width: 80%;
    height: 80%;
    text-align: center;
    top: 0%;
    left: 13%;
}

.welcome{
    position: relative;
    font-family: 'Major Mono Display', monospace;
    font-size: 5em;
    color: rgb(255, 210, 241);
    text-shadow: 0px 0px 5px rgb(255, 210, 241), 5px 5px rgb(210, 255, 249), 5px 5px 5px rgb(210, 255, 249), 0px 0px 10px rgb(255, 172, 230), 5px 5px 10px rgb(151, 255, 241),  0px 0px 15px rgb(255, 104, 210), 5px 5px 15px rgb(84, 255, 232), 0px 0px 20px rgb(255, 58, 196), 5px 5px 20px rgb(0, 255, 221);
    top: 0%;
} 

#homePageTopRow{
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 2;
}

.homePageSquares{
    position: relative;
    height: 30vh;
    width: 30vw;
    font-family: 'Bungee Hairline', monospace;
    text-shadow: 1px 0px black, -1px 0px black, 0px 1px black, 0px -1px black, .5px 0px black, -.5px 0px black, 0px .5px black, 0px -.5px black;
    font-size: 5vw;
    background-color: rgba(255, 210, 241, .7);
    border-color: rgb(255, 210, 241);
    box-shadow: 0px 0px 5px rgb(255, 210, 241), 5px 5px rgb(210, 255, 249), 5px 5px 5px rgb(210, 255, 249), 0px 0px 10px rgb(255, 172, 230), 5px 5px 10px rgb(151, 255, 241),  0px 0px 15px rgb(255, 104, 210), 5px 5px 15px rgb(84, 255, 232), 0px 0px 20px rgb(255, 58, 196), 5px 5px 20px rgb(0, 255, 221);
}

.homePageSquares:hover{
    background-color: rgba(255, 210, 241);
}

.iphoneStruggle{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.iphoneStruggle:hover{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

#signUp{
    display: table;


}

#signUp p{
    display: table-cell;
    vertical-align: middle;
}

#signIn{
    display: table;
    left: 20%;
    top: 0%;
}

#signIn p{
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    font-family: 'Titillium Web', sans-serif;
    /* font-size: 5vw; */
    background-color: rgba(255, 210, 241, .7);
    border-color: rgb(255, 210, 241);
    box-shadow: 0px 0px 5px rgb(255, 210, 241), 5px 5px rgb(210, 255, 249), 5px 5px 5px rgb(210, 255, 249), 0px 0px 10px rgb(255, 172, 230), 5px 5px 10px rgb(151, 255, 241),  0px 0px 15px rgb(255, 104, 210), 5px 5px 15px rgb(84, 255, 232), 0px 0px 20px rgb(255, 58, 196), 5px 5px 20px rgb(0, 255, 221);
}

.btn{
    background-color: rgba(0, 89, 255, 0.514);
    border: none;
    box-shadow: 0 0 8px rgb(85, 97, 255, .6)
}

.alert{
    display: none;
    background-color: rgba(255, 208, 0, 0.65);
    border: none;
    box-shadow: 0 0 5px rgb(202, 186, 40);
    color: white;
}


#glowingDog{
    position: relative;
    background-image: url("../images/dogBG2.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: solid black; */
    height: 70vh;
    width: 30vw;
    animation: floatingDog 48s linear both infinite;
    
}

#glowingPizza{
    position: relative;
    background-image: url("../images/pizza4.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: solid black; */
    height: 70vh;
    width: 30vw;
    right: -60%;
    bottom: 90%;
    animation: floatingPizza 60s alternate linear infinite;

}


#homeFooter{
    position: fixed;
    bottom: 0%;
    right: 2%;
    font-family: 'Bungee Hairline', monospace;
    text-shadow: 1px 0px rgb(255, 58, 196), -1px 0px rgb(255, 58, 196), 0px 1px rgb(255, 58, 196), 0px -1px rgb(255, 58, 196), .5px 0px rgb(255, 58, 196), -.5px 0px rgb(255, 58, 196), 0px .5px rgb(255, 58, 196), 0px -.5px rgb(255, 58, 196);
    font-size: 2vw;
}






























@media screen and (max-width: 575px){

    #homePageBox{
        height: 90vh;
        top: 5vh;
        left: 10vw;
        /* overflow: hidden;   */
    }
    
    .welcome{
        font-size: 3.2em;
    } 
    
    #homePageTopRow{
        top: 40%;
    }
    
    .homePageSquares{
        position: relative;
        height: 15vh;
        width: 60vw;
        left: 10vw;
        top: 10vh;
        font-size: 2em;
    }
    
    
    #signUp{
    
    
    }
    
    
    #signIn{
        display: table;
        left: 10vw;
        top: 15vh;
    }
    
        
    .modal-content {
        width: 90vw;
        left: 2.5vw;
    }
    
    
    
    #glowingDog{
        
    }
    
    #glowingPizza{
    
    }
    
    
    #homeFooter{
        
        font-size: 4.5vw;
    }
    
}