.welcome{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
    font-size: 3em
} 


#frontPageBox{
    position: absolute;
    background-color: rgba(400, 400, 400, .9);
    width: 80%;
    height: 80%;
    text-align: center;
    top: 10%;
    left: 10%;
}

.frontBtns{
    position: relative;
    width: 25%;
    height: 30%;
    margin-top: 5%;
    font-size: 2em;
}
button{
 border-radius: 10%;
 background-color: gold;
 border: sienna thick solid;
}
#signUpBtn{
    right: 15%;
}

.signUpForm{
    /* display: none; */
}

#signInBtn{

}

#resultsBtn{
    left: 5%;
}



.signInForm{
    /* display: none; */
}





