body{
    background-image: url(../images/pink\ dust.png);
    overflow: hidden;
}

.bGImg{
    position: fixed;
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 22%;
    min-width: 100%;
    left: 1%;
    z-index: -1;
}
 
