body{
    background-image: url(../images/pink\ dust.png);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

.bGImg{
    position: fixed;
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 22%;
    min-width: 100%;
    left: 1%;
    z-index: -1;
}
 
/* .pizzaDog{
    background-image: url("../images/dogPizza.png");
 }
 
.spinPizza{
    background-image: url("../images/pizzaDog.png");
} */

#bG1{
    top: 0%;
}

#bG2{
    top: 22%;
}

#bG3{
    top: 44%;
}

#bG4{
    top: 66%
}

#bG5{
    top: 88%
}

#bG6{
    top: 110%;
}

/* #bG7{
    top: 60%;
}

#bG8{
    top: 70%;
}

#bG9{
    top: 80%
}

#bG10{
    top: 90%
} */

