 .pizzaResults{
    position: absolute;
    /* background-color: rgba(255, 210, 241, .7); */
    border-color: rgb(255, 210, 241);
    box-shadow: 0px 0px 5px rgb(255, 210, 241), 5px 5px rgb(210, 255, 249), 5px 5px 5px rgb(210, 255, 249), 0px 0px 10px rgb(255, 172, 230), 5px 5px 10px rgb(151, 255, 241),  0px 0px 15px rgb(255, 104, 210), 5px 5px 15px rgb(84, 255, 232), 0px 0px 20px rgb(255, 58, 196), 5px 5px 20px rgb(0, 255, 221);
    top: 10vh;
    left: 10vw;
    width: 80vw; 
    height: 80vh;
    overflow: hidden; 
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
 }
 
 .pizzaResults h1{
     position: relative;
     top: 20vh;
     font-family: 'Major Mono Display', monospace;
    font-size: 4em;
    color: rgb(255, 210, 241);
    text-shadow: 0px 0px 5px rgb(255, 210, 241), 5px 5px rgb(210, 255, 249), 5px 5px 5px rgb(210, 255, 249), 0px 0px 10px rgb(255, 172, 230), 5px 5px 10px rgb(151, 255, 241),  0px 0px 15px rgb(255, 104, 210), 5px 5px 15px rgb(84, 255, 232), 0px 0px 20px rgb(255, 58, 196), 5px 5px 20px rgb(0, 255, 221);
 }

 #theBest{
     margin-top: 5vh;
     font-size: 8em;
 }