#surveyBox{
  position: absolute;
  background-color: rgba(255, 210, 241, .7);
  border-color: rgb(255, 210, 241);
  box-shadow: 0px 0px 5px rgb(255, 210, 241), 5px 5px rgb(210, 255, 249), 5px 5px 5px rgb(210, 255, 249), 0px 0px 10px rgb(255, 172, 230), 5px 5px 10px rgb(151, 255, 241),  0px 0px 15px rgb(255, 104, 210), 5px 5px 15px rgb(84, 255, 232), 0px 0px 20px rgb(255, 58, 196), 5px 5px 20px rgb(0, 255, 221);
  top: 10vh;
  left: 10vw;
  width: 80vw; 
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden; 
  font-family: 'Titillium Web', sans-serif;

}

#surveyBox::-webkit-scrollbar {
  width: .6em;
  margin-right: 5vw;
}

#surveyBox::-webkit-scrollbar-track {
}

#surveyBox::-webkit-scrollbar-thumb {
background-color: rgba(255, 255, 255, 0.6);
border: 1px solid rgb(210, 255, 249);
-webkit-box-shadow: inset 0px 0px 5px rgb(254, 255, 255), 0px 0px 15px rgb(253, 253, 253);
}

#surveyHeader{
  position: relative;
  text-align: center;
  font-size: 3.2rem;
  font-family: 'Bungee Hairline', monospace;
    text-shadow: 1px 0px rgb(219, 61, 169), -1px 0px rgb(219, 61, 169), 0px 1px rgb(219, 61, 169), 0px -1px rgb(219, 61, 169), .5px 0px rgb(219, 61, 169), -.5px 0px rgb(219, 61, 169), 0px .5px rgb(219, 61, 169), 0px -.5px rgb(219, 61, 169), 1px 0px 5px rgb(219, 61, 169), -1px 0px 5px rgb(219, 61, 169), 0px 1px 5px rgb(219, 61, 169), 0px -1px 5px rgb(219, 61, 169), .5px 0px 5px rgb(219, 61, 169), -.5px 0px 5px rgb(219, 61, 169), 0px .5px 5px rgb(219, 61, 169), 0px -.5px 5px rgb(219, 61, 169);
    color: rgb(219, 61, 169);
  /* text-shadow: 0px 0px 5px rgb(218, 22, 156), 3px 3px 5px rgb(124, 122, 122), 0px 0px 15px rgb(2218, 22, 156), 3px 3px 15px rgb(124, 122, 122), 3px 3px 20px rgb(124, 122, 122),3px 3px 25px rgb(124, 122, 122); */
  top: 4vh;
}

.survey{
  position: relative;
  color: rgb(66, 66, 66);
}


.surveyTextGroup{
  position: relative;
  top: 10vh;
  left: 7vw;
}

#cityText{
  position: relative;
  font-size: 2em;
}

#pizzaPlaceText{
  position: relative;
  font-size: 2em;
  left: 3vw;
}

.surveyTextInput{
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
box-shadow: inset 0px 0px 5px rgba(254, 255, 255, 0.6), 0px 0px 15px rgba(253, 253, 253, 0.6);

}

.question{
  position: relative;
  left: 6vw;
  top: 12vh;
}

.question label{
  font-weight: bold;
  font-size: 2em;
}

.question p{
  position: relative;
  margin-top: 2vh;
}

.question input{
  position: relative;
  bottom: 5vh;
}

#surveySubBtn{
  position: relative;
  width: 65%;
  top: 8vh;
  left: 17.5%;
  box-shadow: 0 0 8px rgb(85, 97, 255, .6);
  font-size: 1.5em;
  margin-bottom: 8vh;
}

#surveyAlert{
  position: relative;
  width: 65%;
  left: 17.5%;
  text-align: center;
  font-size: 1.5em;
margin-top: 6vh;
}

















input[type=range] {
  height: 58px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 5px rgb(19, 19, 19);
  background: rgb(24, 24, 24);
  border-radius: 5px;
  /* border: 1px solid #000000; */
}

input[type=range]::-webkit-slider-thumb {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgb(255, 217, 0), 0px 0px 15px rgb(217, 255, 0), 0px 0px 20px rgb(136, 255, 0);
  background: rgb(255, 192, 203);
  background-image: url(../images/apathyEmoji.PNG);
  background-repeat: no-repeat;    
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -21.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(38, 197, 197);
  box-shadow: 0px 0px 5px rgb(38, 197, 197);

}

input[value="-5"]::-webkit-slider-thumb { background-image: url(../images/sickEmoji.PNG); }
input[value="-4"]::-webkit-slider-thumb { background-image: url(../images/sickEmoji.PNG); }
input[value="-3"]::-webkit-slider-thumb { background-image: url(../images/sadEmoji.PNG); }
input[value="-2"]::-webkit-slider-thumb { background-image: url(../images/sadEmoji.PNG); }
input[value="-1"]::-webkit-slider-thumb { background-image: url(../images/apathyEmoji.PNG); }
input[value="0"]::-webkit-slider-thumb { background-image: url(../images/apathyEmoji.PNG); }
input[value="1"]::-webkit-slider-thumb { background-image: url(../images/apathyEmoji.PNG); }
input[value="2"]::-webkit-slider-thumb { background-image: url(../images/mmmEmoji.PNG); }
input[value="3"]::-webkit-slider-thumb { background-image: url(../images/mmmEmoji.PNG); }
input[value="4"]::-webkit-slider-thumb { background-image: url(../images/heartEmoji.PNG); }
input[value="5"]::-webkit-slider-thumb { background-image: url(../images/heartEmoji.PNG); }


input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #FFFFFF;
  background-image: url(../images/apathyEmoji.PNG);
  background-repeat: no-repeat; 
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #FFFFFF;
  background-image: url(../images/apathyEmoji.PNG);
  background-repeat: no-repeat; 
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}









@media screen and (max-width: 575px){

  #surveyBox{
    left: 8%;
  }
}

@media screen and (min-width: 1500px){

  #surveyBox{
    left: 13%;
  }
}